################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dacpac
*.dll
*.pdb
*.user
*.dbmdl
*.jfm
*.vsidx