################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dacpac
*.dll
*.pdb
*.user
*.dbmdl
*.jfm
*.vsidx
/elt-framework/ControlDB/obj/Debug
/elt-framework/ControlDB/.vs/ControlDB/v16
/elt-framework/ControlDB/bin/Debug/Post Deployment Script

